fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
python-dotenv
groq
google-genai
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
numpy
scikit-learn
tiktoken
fastapi
huggingface-hub
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
pyarrow
beautifulsoup4
lxml
faiss-cpu
httpx
tavily-python
requests
playwright
edgar
sec-edgar-downloader
fredapi
transformers
datasets
asyncio
aiohttp
tqdm
loguru
tenacity
rich